* * * * * root echo "Hello world" >> /var/log/cron.log 2>&1
# * * * * * node ./scripts/fetch-prices-json.js | node ./scripts/update-influxdb.js >> /var/log/cron.log 2>&1
# Don't remove the empty line at the end of this file. It is required to run the cron job
# 55 14 * * * 